# Exploratory Analysis

In [27]:
import pandas as pd
import numpy as np

Loading the training and testing dataset into a Pandas Dataframe.

In [46]:
# Load training data
dfTrain = pd.DataFrame.from_csv('train.tsv', sep='\t')
dfTest = pd.DataFrame.from_csv('test.tsv',sep='\t')

In [14]:
dfTrain.head(5)

,name,item_condition_id,category_name,brand_name,price,shipping,item_description
train_id,,,,,,,
0,MLB Cincinnati Reds T Shirt Size XL,3,Men/Tops/T-shirts,NaN,10.0,1,No description yet
1,Razer BlackWidow Chroma Keyboard,3,Electronics/Computers & Tablets/Components & P...,Razer,52.0,0,This keyboard is in great condition and works ...
2,AVA-VIV Blouse,1,Women/Tops & Blouses/Blouse,Target,10.0,1,Adorable top with a hint of lace and a key hol...
3,Leather Horse Statues,1,Home/Home Décor/Home Décor Accents,NaN,35.0,1,New with tags. Leather horses. Retail for [rm]...
4,24K GOLD plated rose,1,Women/Jewelry/Necklaces,NaN,44.0,0,Complete with certificate of authenticity

In [47]:
def split_category(x):
    x1 = x[:] # Make a copy of the data frame
    x2 = x['category_name'].str.split('/', expand=True).astype(str) # Split the column category_name on the character '/'
    x = pd.concat([x1,x2],axis=1) # Concatenate two data frames
    x.columns.values[7:10] = np.array(['1_category','2_category','3_category'])
    if 3 in x:
        x = x.drop(3, 1) # There are some category_names that contain abundant '/' - We need to look into this.
    if 4 in x:
        x = x.drop(4, 1) # There are some category_names that contain abundant '/' - We need to look into this.
    return x
dfTrain = split_category(dfTrain)
dfTest = split_category(dfTest)

dfTrain.head(5)

,name,item_condition_id,category_name,brand_name,price,shipping,item_description,1_category,2_category,3_category
train_id,,,,,,,,,,
0,MLB Cincinnati Reds T Shirt Size XL,3,Men/Tops/T-shirts,NaN,10.0,1,No description yet,Men,Tops,T-shirts
1,Razer BlackWidow Chroma Keyboard,3,Electronics/Computers & Tablets/Components & P...,Razer,52.0,0,This keyboard is in great condition and works ...,Electronics,Computers & Tablets,Components & Parts
2,AVA-VIV Blouse,1,Women/Tops & Blouses/Blouse,Target,10.0,1,Adorable top with a hint of lace and a key hol...,Women,Tops & Blouses,Blouse
3,Leather Horse Statues,1,Home/Home Décor/Home Décor Accents,NaN,35.0,1,New with tags. Leather horses. Retail for [rm]...,Home,Home Décor,Home Décor Accents
4,24K GOLD plated rose,1,Women/Jewelry/Necklaces,NaN,44.0,0,Complete with certificate of authenticity,Women,Jewelry,Necklaces